# TEXT MINING for BEGINNER
- 본 자료는 텍스트 마이닝을 활용한 연구 및 강의를 위한 목적으로 제작되었습니다.
- 본 자료를 강의 목적으로 활용하고자 하시는 경우 꼭 아래 메일주소로 연락주세요.
- 본 자료에 대한 허가되지 않은 배포를 금지합니다.
- 강의, 저작권, 출판, 특허, 공동저자에 관련해서는 문의 바랍니다.
- **Contact : 전병진(fingeredman@gmail.com)**

---

## DAY 01. Python 기초문법 알아보기
- 텍스트 마이닝을 위한 Python 기초문법에 대해 다룹니다.

---

### 1. PRINT 문: 문자 또는 숫자를 화면에 출력합니다.

---

In [1]:
# 샵(#) 뒤에 오는 문자열을 주석이라고 하며, 결과에 아무런 영향을 끼치지 않습니다.
# print(12345)
'''
여러줄로 주석을 입력할 필요가 있을 때에는,
작음따옴표 3개를 앞뒤에 사용합니다.
print("hello world!")
'''
print("hello world!")

hello world!

In [2]:
# 1) 숫자를 출력합니다.
print(12345)

12345

In [3]:
# 2) 큰따옴표 안에 문자열을 출력합니다.
print("큰따옴표 안에 내용을 입력합니다.")

큰따옴표 안에 내용을 입력합니다.

In [4]:
# 3) 작은따옴표 안에 문자열을 출력합니다.
print('작은따옴표 안에 내용을 입력합니다.')

작은따옴표 안에 내용을 입력합니다.

In [5]:
# 4) "작은따옴표"를 "큰따옴표" 안에 입력해 출력합니다.
print("큰따옴표 안에 '작은따옴표'를 입력해 출력합니다.")

큰따옴표 안에 '작은따옴표'를 입력해 출력합니다.

In [6]:
# 5) 백슬러시를 큰따옴표 앞에 붙여 "큰따옴표"를 출력합니다.
print("\"큰따옴표\"를 출력합니다.")

"큰따옴표"를 출력합니다.

In [7]:
# 6-1) 문자열을 더하기(+) 연산자를 활용해 결합하여 출력합니다.
print("더하기(+) 연산자를 활용해" + "문자열을 결합하여 출력합니다.")

더하기(+) 연산자를 활용해문자열을 결합하여 출력합니다.

In [8]:
# 6-2) 문자열을 콤마(,)를 활용해 결합하여 출력합니다.
print("콤마(,)를 활용해", "문자열을 결합하여 출력합니다.")

콤마(,)를 활용해 문자열을 결합하여 출력합니다.

In [9]:
# 7-1) 숫자를 문자와 결합하는 경우에는 반드시 str(NUM) 함수를 활용해 문자열로 변환 후 결합해야합니다.
print("str(NUM) 함수를 활용하면 문자열과 숫자의 '문자+" + str(10) + "'결합이 가능합니다.")

str(NUM) 함수를 활용하면 문자열과 숫자의 '문자+10'결합이 가능합니다.

In [10]:
# 7-2) 숫자를 문자와 결합하는 경우에 콤마(,)를 사용하면 str(NUM) 함수를 사용하지 않아도 됩니다.
print("str(NUM) 함수를 활용하면 문자열과 숫자의 '문자+", 10, "'결합이 가능합니다.")

str(NUM) 함수를 활용하면 문자열과 숫자의 '문자+ 10 '결합이 가능합니다.

### 2. PRINT 문: 문자열 안에 탭(tab) 또는 줄바꿈(linefeed)을 삽입합니다.

---

In [11]:
# 1) print("문자열") 함수는 맨 뒤에 줄바꿈(\n)을 포함합니다.
print("문자열 맨 뒤에 줄바꿈이 있기 때문에,")
print("다음줄에 이어서 출렵됩니다.")

문자열 맨 뒤에 줄바꿈이 있기 때문에,
다음줄에 이어서 출렵됩니다.

In [12]:
# 2) end 옵션을 사용하면 맨 뒤에 줄바꿈(\n) 대신 다른 문자열로 대체할 수 있습니다.
print("맨 뒤에 줄바꿈 대신 다른 문자열넣었기 때문에, ", end="[다른 문자열] ")
print("같은줄에 이어서 출력됩니다.")

맨 뒤에 줄바꿈 대신 다른 문자열넣었기 때문에, [다른 문자열] 같은줄에 이어서 출력됩니다.

In [13]:
# 3) end 옵션에 줄바꿈(\n)을 입력하면 기본 print("문자열") 함수와 같은 기능을 수행합니다.
print("맨 뒤에 줄바꿈을 직접 입력할 수도 있으며,", end="\n")
print("결과는 같습니다.")

맨 뒤에 줄바꿈을 직접 입력할 수도 있으며,
결과는 같습니다.

In [14]:
# 4) 탭(\t) 또한 맨 뒤 문자열로 가능합니다.
print("맨 뒤에 줄바꿈 대신 탭(\\t)을 넣으면,", end="\t")
print("탭 뒤에 이어서 출력됩니다.")

맨 뒤에 줄바꿈 대신 탭(\t)을 넣으면,	탭 뒤에 이어서 출력됩니다.

In [15]:
# 5) 탭(\t), 줄바꿈(\n) 기호는 따옴표 안에서 어디에든 입력 가능합니다.
print("따옴표 안에서 \t아무곳에나\n입력 가능합니다.")

따옴표 안에서 	아무곳에나
입력 가능합니다.

In [16]:
# 6) 따옴표 밖의 콤마(,)는 문자열 결합과 함께 띄어쓰기를 포함합니다.
print("띄어쓰기를", "넣지", "않아도", "공백을", "포함합니다.")

띄어쓰기를 넣지 않아도 공백을 포함합니다.

### 3. PRINT 문: PRINT문 안에서 숫자끼리의 연산이 가능합니다.

---

In [17]:
# 1) 더하기
print(1 + 1)

2

In [18]:
# 2) 빼기
print(9 - 2)

7

In [19]:
# 3) 곱하기
print(5 * 4)

20

In [20]:
# 4) 나누기
print(8 / 2)

4.0

In [21]:
# 5) 지수승
print(2 ** 10)

1024

In [22]:
# 6) 몫
print(25 // 4)

6

In [23]:
# 7) 나머지
print(25 % 4)

1

In [24]:
# 8) 등호
print(2 == 2)
print(2 != 2)

True
False

In [25]:
# 9) 부등호
print(3 > 2)
print(3 < 2)

True
False

In [26]:
# 10-1) 논리연산자(and)
print(True and True)
print(False and True)
print(True and False)
print(False and False)

True
False
False
False

In [27]:
# 10-1) 논리연산자(or)
print(True or True)
print(False or True)
print(True or False)
print(False or False)

True
True
True
False

In [28]:
# 11-1) 다중 논리연산자
print(2 > 1 and 3 < 3)
print(2 > 1 or 3 <= 3)

False
True

In [29]:
# 11-2) 다중 논리연산자(비트연산)
print((2 > 1) & (3 < 3))
print((2 > 1) | (3 <= 3))

False
True

### 3. PRINT 문: 문자열과 숫자 대신에 변수(variable)를 활용합니다.

---

In [30]:
# 1-1) 변수에 값 또는 자료구조를 저장합니다.
a = 10
b = 20
new_list = [1, 2, 3]
new_dict = {"Seoul": 1, "Busan": 2, "Daegu": 3}
new_text = "  앞에 공백과 뒤에 줄바꿈이 달린 문자열 입니다. \n"

In [31]:
# 1-2) 값 또는 자료구조가 저장된 변수를 출력합니다.
print("a, b :", a, b)
print("new_list :", new_list)
print("new_dict :", new_dict)
print("new_text :", new_text)

a, b : 10 20
new_list : [1, 2, 3]
new_dict : {'Seoul': 1, 'Busan': 2, 'Daegu': 3}
new_text :   앞에 공백과 뒤에 줄바꿈이 달린 문자열 입니다.

In [32]:
# 1-3) 변수에 저장된 값 또는 자료구조의 유형을 type(변수) 함수를 활용해 확인합니다.
print("Type of a, b :", type(a), type(b))
print("Type of new_list :", type(new_list))
print("Type of new_dict :", type(new_dict))
print("Type of new_text :", type(new_text))

Type of a, b : <class 'int'> <class 'int'>
Type of new_list : <class 'list'>
Type of new_dict : <class 'dict'>
Type of new_text : <class 'str'>

In [33]:
# 1-4) 변수를 활용해 숫자끼리의 연산이 가능합니다.
print("a + b :", a + b)
print("a - b :", a - b)
print("a * b :", a * b)
print("a / b :", a / b)

a + b : 30
a - b : -10
a * b : 200
a / b : 0.5

In [34]:
# 1-5) 연산자와 등호를 결합한 새로운 연산자를 활용해 연산결과를 바로 변수에 저장합니다.
a = 1
print("a :", a)
a = a + 1
print("a + 1 :", a)
a += 1
print("a += 1 :", a)
a -= 5
print("a -= 1 :", a)
a *= 3
print("a *= 1 :", a)

a : 1
a + 1 : 2
a += 1 : 3
a -= 1 : -2
a *= 1 : -6